<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="static/css/authenticate.css">
</head>
<body>
  <h2>Reset Password</h2>

  {% if not show_otp and not show_reset %}
  <form action="/forgot-password" method="POST">
    <label>Email</label>
    <input type="email" name="email" required placeholder="Enter Your Registered Email">
    <button type="submit">Send OTP</button>
  </form>
  {% endif %}

  {% if show_otp %}
  <form action="/verify-reset-otp" method="POST">
    <input type="hidden" name="email" value="{{ email }}">
    <label>Enter OTP</label>
    <input type="text" name="otp" placeholder="Enter 6-digit OTP" required maxlength="6">
    <button type="submit">Verify OTP</button>
  </form>
  {% endif %}

  {% if show_reset %}
  <form action="/reset-password" method="POST" id="resetPasswordForm">
    <input type="hidden" name="email" value="{{ email }}">
    
    <div class="password-container">
      <label>New Password</label>
      <button type="button" class="info-btn">
        i
        <span class="tooltip">
          * Password must be at least 6 Characters Long <br>
          * Password must have one Number (0-9)
        </span>
      </button>
      <input type="password" name="new_password" id="new_password" required placeholder="Enter New Password">
      <span id="passwordError" class="error-message"></span>
    </div>

    <label>Confirm Password</label>
    <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm New Password">
    <span id="confirmPasswordError" class="error-message"></span>

    <button type="submit">Reset Password</button>
  </form>
  {% endif %}

  {% if error %}
    <p class="server-message error">{{ error }}</p>
  {% endif %}

  {% if success %}
    <p class="server-message success">{{ success }}</p>
  {% endif %}

  <p>
    Remember your password?
    <a href="/login">Login Here</a>
  </p>

  <script src="static/script/reset-password.js"></script>
</body>
</html>